<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> Welcome to Developer Course </h1>

<h1 align="center" style="color: blue">Spring Framework;</h1>

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>
</ul>

<a href="https://www.amazon.com">Amazon</a>

<table>
    <tr>
        <td>Loop</td>
        <td>Collection</td>
        <td>Stream</td>
    </tr>
    <tr>
        <td>IoC</td>
        <td>DI</td>
        <td>Value1</td>
    </tr>
</table>

</body>
</html>